*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}
body::-webkit-scrollbar {width: 10px}

body::-webkit-scrollbar-track {background: #1e3036;}

body::-webkit-scrollbar-thumb {background-color:#60c1e7 ; border-radius: 20px;}
/* 
font-family: 'Chakra Petch', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
a
*/
html { scroll-behavior: smooth;}
body{background-color:#1D1D1E;}
main { display: none;}


.loader{ display: flex; width: 100vw; height: 90vh; justify-content: center; align-items: center;  background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db); flex-direction: column;}
.loader h1 {font-size: 1.7rem; color: #5da2db; font-family: 'Chakra Petch', sans-serif;}


@media (max-width: 768px){

    .menu{position: fixed; display: flex;top: 0;width: 100%; background-color:#1d1d1e71;z-index: 100; text-align: right;}
    .menu i { color: #5da2db; font-size: 2rem; margin: 10px;}
    .menu ul {display: flex; justify-content: center; align-items: center;width: 100%;}
    .menu ul li{margin: 5px; padding: 5px; display: contents;}
    .menu a{color: white; border-radius: 15px; background-color: #5da2db; margin: 10px; padding: 5px; padding-left: 5px; padding-right: 5px;}

    .cover{width: 100%; height: 100vh; color: white; text-align: center; display: none; align-items: center; justify-content: center; flex-direction: column; overflow: hidden; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);}
    .cover h1{font-size: 1.7rem; color: #5da2db; font-family: 'Chakra Petch', sans-serif;}
    .cover h2{font-size: 1rem; font-family: 'Roboto', sans-serif;}
    .cover h3{font-size: 0.8rem;}
    .cover a{color: white;}
    

    .titulo-secao{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px;}
    .titulo-secao h2{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #9a9aa7; background-color:#1D1D1E;}
    .linha01{ border: none; width: 100%; height: 5px; text-align: left; margin: 0 auto 0 0;animation: modifyColor 5s infinite; transition: 0.5s;background-color: #443C68 ;}
    .linha02{ border: none; width: 100%; height: 10px; background-image:linear-gradient(to right, #7163b3, #5da2db); text-align: left; margin: 0 auto 0 0}
    

    .sobre-mim{display: flex;flex-direction: column;align-items: center;background-image: linear-gradient(to top,#1D1D1E ,#1c598b,#1d1d1e, #1D1D1E)}
    .sobre-mim h2{position: absolute; background-color:#1D1D1E ;}
    .sobre-mim-img-perfil{border-radius: 50%; background-image:linear-gradient(to top, #443C68, #5da2db); width: 70%; margin-top: 25px; margin-bottom: 15px;}
    .sobre-mim p{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 2px 2px 75px 2px black; text-indent: 2rem;}
    .sobre-mim p a {text-decoration: none;color: #73737e ;}

    .educacao{display: flex;flex-direction: column;align-items: center;padding-top: 100px; font-family: 'Chakra Petch', sans-serif;}
    .educacao h2{position: absolute; background-color:#1D1D1E ;}
    .educacao ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);}
    .educacao li{margin: 5px;}
    .educacao h1{margin-top: 30px; color: #acacb3 ;}


    .certificacoes{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .certificacoes h2 {position: absolute; background-color:#1D1D1E ;}
    .certificacoes ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
    .certificacoes a {color: white; margin: 5px;padding: 10px;}
    .certificacoes li{padding: 5px; margin: 5px;}



    .skills{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .skills h2{position: absolute; background-color:#1D1D1E ;}
    .skills article{display: flex; justify-content:space-between; align-items: center; flex-wrap: wrap; margin: 5px; padding: 5px;}
    .skills article div{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
    .skills section{margin-top: 50px; margin-bottom: 50px;}


      
    .projetos{display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 25px; font-family: 'Chakra Petch', sans-serif;}
    .projetos h2{position: absolute; background-color:#1D1D1E ;}
    .projetos main{display: flex;align-items: center;justify-content: center; flex-wrap: wrap; margin: 5px; padding: 5px; width: 100%; margin-top: 20px; margin-bottom: 20px;}


    .projetos-title{width: 100%;text-align: center;font-size: 1.6rem;}
    .projetos-skills{display: flex; align-items: center; flex-wrap: wrap;}
    .projetos-skillls-container-extra { display: flex;}
    .projetos-skill{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}



    .projeto{ width: 100%; border-radius: 10px; overflow: hidden; margin: 5px; background-color:#222223; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322)}
    .projeto-espelho-img{width: 100%; height: 200px;  background-position: center; background-size: cover; background-repeat: no-repeat; }
    .projeto-img{width: 100%; max-height: 400px;}
    .titulo-projeto{width: 100%;text-align: center;font-size: 1.6rem; color: white; margin-top: 10px;}
    .titulo-tecnologia-projeto{ text-align: justify; margin: 8px;padding: 5px;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .tecnologias-projeto{margin: 5px; color: white; display: flex;width: 95%; flex-wrap: wrap;}
    .tecnologias-projeto span{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}
    .titulo-descricao-projeto{margin:8px;padding-left: 5px;text-align: justify;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .descricao-projeto{color: white;text-align: justify; text-indent: 10px; margin: 1px 15px 20px 15px}
    .link-projeto-area{margin: 20px;}
    .link-projeto{margin: 10px; color: white; font-size: 1rem;text-decoration: underline; font-style: italic;}

    .icone-anime{ width: 64px; height: 64px; background-color: transparent;}
    .rodape-seccao {overflow: hidden;display: none; justify-content: center; align-items: center; margin: 5px;}



    .rodape-page{width: 100%; height: 250px; background-image: linear-gradient(to bottom,#1d1d1eb6, #443c6891, #5da2db)}
    .splide__slide img {width: 55px;}



}

@media (min-width: 769px){

  
    .menu{position: fixed; display: flex;top: 0;width: 100%; background-color:#1d1d1e71;z-index: 100; text-align: right;}
    .menu i { color: #5da2db; font-size: 2rem; margin: 10px;}
    .menu ul {display: flex; justify-content: center; align-items: center;width: 100%;}
    .menu ul li{margin: 5px; padding: 5px; display: contents;}
    .menu a{color: white; border-radius: 15px; background-color: #5da2db; margin: 10px; padding: 5px; padding-left: 5px; padding-right: 5px;}

    .cover{width: 100%; height: 100vh; color: white; text-align: center; display: none; align-items: center; justify-content: center; flex-direction: column; overflow: hidden; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);}
    .cover h1{font-size: 1.7rem; color: #5da2db; font-family: 'Chakra Petch', sans-serif;}
    .cover h2{font-size: 1rem; font-family: 'Roboto', sans-serif;}
    .cover h3{font-size: 0.8rem;}
    .cover a{color: white;}
    

    .titulo-secao{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px;}
    .titulo-secao h2{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #9a9aa7; background-color:#1D1D1E;}
    .linha01{ border: none; width: 100%; height: 5px; text-align: left; margin: 0 auto 0 0;animation: modifyColor 5s infinite; transition: 0.5s;background-color: #443C68 ;}
    .linha02{ border: none; width: 100%; height: 10px; background-image:linear-gradient(to right, #7163b3, #5da2db); text-align: left; margin: 0 auto 0 0}
    

    .sobre-mim{display: flex;flex-direction: column;align-items: center;background-image: linear-gradient(to top,#1D1D1E ,#1c598b,#1d1d1e, #1D1D1E)}
    .sobre-mim h2{position: absolute; background-color:#1D1D1E ;}
    .sobre-mim-img-perfil{border-radius: 50%; background-image:linear-gradient(to top, #443C68, #5da2db); width: 70%; margin-top: 25px; margin-bottom: 15px;}
    .sobre-mim p{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 2px 2px 75px 2px black; text-indent: 2rem;}
    .sobre-mim p a {text-decoration: none;color: #73737e ;}

    .educacao{display: flex;flex-direction: column;align-items: center;padding-top: 100px; font-family: 'Chakra Petch', sans-serif;}
    .educacao h2{position: absolute; background-color:#1D1D1E ;}
    .educacao ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);}
    .educacao li{margin: 5px;}
    .educacao h1{margin-top: 30px; color: #acacb3 ;}


    .certificacoes{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .certificacoes h2 {position: absolute; background-color:#1D1D1E ;}
    .certificacoes ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
    .certificacoes a {color: white; margin: 5px;padding: 10px;}
    .certificacoes li{padding: 5px; margin: 5px;}



    .skills{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .skills h2{position: absolute; background-color:#1D1D1E ;}
    .skills article{display: flex; justify-content:space-between; align-items: center; flex-wrap: wrap; margin: 5px; padding: 5px;}
    .skills article div{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
  


      
    .projetos{display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 25px; font-family: 'Chakra Petch', sans-serif;}
    .projetos h2{position: absolute; background-color:#1D1D1E ;}
    .projetos main{display: flex;align-items: center;justify-content: center; flex-wrap: wrap; margin: 5px; padding: 5px; width: 100%; margin-top: 20px; margin-bottom: 20px;}


    .projetos-title{width: 100%;text-align: center;font-size: 1.6rem;}
    .projetos-skills{display: flex; align-items: center; flex-wrap: wrap;}
    .projetos-skillls-container-extra { display: flex;}
    .projetos-skill{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}



    .projeto{ width: 100%; border-radius: 10px; overflow: hidden; margin: 5px; background-color:#222223; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322)}
    .projeto-espelho-img{width: 100%; height: 200px;  background-position: center; background-size: cover; background-repeat: no-repeat; }
    .projeto-img{width: 100%; max-height: 400px;}
    .titulo-projeto{width: 100%;text-align: center;font-size: 1.6rem; color: white; margin-top: 10px;}
    .titulo-tecnologia-projeto{ text-align: justify; margin: 8px;padding: 5px;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .tecnologias-projeto{margin: 5px; color: white; display: flex;width: 95%; flex-wrap: wrap;}
    .tecnologias-projeto span{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}
    .titulo-descricao-projeto{margin:8px;padding-left: 5px;text-align: justify;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .descricao-projeto{color: white;text-align: justify; text-indent: 10px; margin: 1px 15px 20px 15px}
    .link-projeto-area{margin: 20px;}
    .link-projeto{margin: 10px; color: white; font-size: 1rem;text-decoration: underline; font-style: italic;}

    .icone-anime{ width: 64px; height: 64px; background-color: transparent;}
    .rodape-seccao {overflow: hidden;display: flex; justify-content: center; align-items: center; margin: 5px;}



    .rodape-page{width: 100%; height: 250px; background-image: linear-gradient(to bottom,#1d1d1eb6, #443c6891, #5da2db)}


 

}