*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}
body::-webkit-scrollbar {width: 5px}

body::-webkit-scrollbar-track {background: #1e3036;}

body::-webkit-scrollbar-thumb {background-color:#60c1e7 ;}
/* 
font-family: 'Chakra Petch', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
a
*/
html { scroll-behavior: smooth; }
:target{scroll-margin-top: 1px;}
/*body{background-color:#1D1D1E;} */
body{background-image:linear-gradient(to right,#1D1D1E, #2e2e3b,#1D1D1E);}

main { display: none;}


.loader{ display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center;  background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db); flex-direction: column;}
.loader h1 {font-size: 1.7rem; color: #5da2db; font-family: 'Chakra Petch', sans-serif;}
.loader h2 {font-size: 1.2rem; font-family: 'Roboto', sans-serif;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);color: white;}
.loader h3{font-size: 1rem; color: white;}



@media (max-width: 768px){

    .menu{position: fixed; display: none;top: 1%;right: 2%;border-radius: 50%; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);;z-index: 100; text-align: right;}
    .menu div{margin: 5px; text-align: center;transform: rotate(-0.5turn); transition: 1s; width:40px; height: 40px; display: flex; justify-content: center;align-items: center;}
    .menu div  i{font-size: 1.8rem; color: white;}
    
    .menu div img{width: 40px; height: 40px;}
    .menu div:hover{transform: rotate(0.5turn); transition: 1s;}
    .menu div:active{transform: scale(80%); transition: 0.2s;}

   



    .elementos-menu{position: fixed; display: none;top: 10%;right: 2%;border-radius: 5px; z-index: 100; text-align: right; transition: 1.5s; overflow: hidden; animation: translacaoMenu 1s ;}
    .elementos-menu ul li{list-style: none; margin: 15px 5px 5px 5px; padding: 5px; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);; border-radius: 5px; transition: 2s;}
    .elementos-menu ul li a{ color: rgb(255, 255, 255); font-weight: bold; font-size: 1.1rem;transition: 0.5s; display: block; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.774);font-family: 'Chakra Petch'}
    .elementos-menu ul li a:hover{font-size: 1.3rem; color: #60c1e7;}

    .cover{width: 100%; height: 100vh; color: white; text-align: center; display: none; align-items: center; justify-content: center; flex-direction: column; overflow: hidden; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);}
    .cover h1{font-size: 1.9rem; color: #6db0e7; font-family: 'Chakra Petch', sans-serif; text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}
    .cover h2{font-size: 1.2rem; font-family: 'Roboto', sans-serif;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);}
    .cover h3{font-size: 1rem;}
    .cover a{color: white;}
    

    .titulo-secao{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px;}
    .titulo-secao h2{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #f8f8f8; text-shadow: 5px 5px 5px rgba(37, 53, 95, 0.712);}
    .linha01{ border: none; width: 100%; height: 5px; text-align: left; margin: 0 auto 0 0;animation: modifyColor 5s infinite; transition: 0.5s;background-color: #443C68 ;}
    .linha02{ border: none; width: 100%; height: 10px; background-image:linear-gradient(to right, #7163b3, #5da2db); text-align: left; margin: 0 auto 0 0;}
    
    .titulo-secao-sobre-mim{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px; margin-top: 25px;}
    .titulo-secao-sobre-mim h3{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #ffffff; background-color: transparent; font-size: 1.5rem;  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}

    .sobre-mim{display: flex;flex-direction: column;align-items: center;}
    .sobre-mim h2{position: absolute; background-color:#1D1D1E ;}
    .sobre-mim div{display: flex; flex-direction: column; align-items: center;}
    .sobre-mim-img-perfil{border-radius: 50%; background-image:linear-gradient(to top, #3a2c79e7, #5da2dbd3), url('https://celsocestaro.com.br/wp-content/uploads/2020/06/analise-de-dados-a-favor-do-futuro-do-negocio-1580759422.jpg');background-repeat: repeat;background-size: cover; background-position: center; background-repeat: no-repeat; width: 70%; margin-top: 25px; margin-bottom: 15px;}
    .sobre-mim p{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322); text-indent: 2rem;}

    .sobre-mim p a {text-decoration: underline;color: #73737e ;}
    .sobre-mim p a:hover{color: white;}

    .educacao{display: flex;flex-direction: column;align-items: center;padding-top: 100px; font-family: 'Chakra Petch', sans-serif; background-image: linear-gradient(to top,#1d1d1ed2, #5da2db), url('https://celsocestaro.com.br/wp-content/uploads/2020/06/analise-de-dados-a-favor-do-futuro-do-negocio-1580759422.jpg');background-repeat: repeat;background-size: cover;background-attachment: fixed; background-position: center; background-repeat: no-repeat;}

    .educacao div{padding-bottom: 60px;}
    .educacao h2{position: absolute;}
    .educacao ul{ transition: 0.2s; border-left: 3px solid white;margin-left: 2px; padding-left: 15px; min-height: 200px;}
    .educacao ul::before {content:''; background-color: #aebac4; width:30px; height: 30px; position: relative; display: block; border-radius: 50%;left: -31px; top: -1px;}
    .educacao ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322); }
    .educacao ul li{margin: 5px; list-style: none; margin-left: 10px; color: white;}
    .educacao h1{margin-top: 1px; color: #ffffff ; margin-bottom: 1px;}
    .educacao h3{margin-top: 1px; color:  #5da2db ; margin-bottom: 1px; font-size: 1rem; margin-left: 2px;}
   /* .educacao h1::before {content:''; background-color: rgb(255, 255, 255); width:30px; height: 30px; position: absolute; display: block; border-radius: 50%;left: 32px;}*/

    


    .certificacoes{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .certificacoes h2 {position: absolute; }
    .certificacoes ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 80px; transition: 0.5s;}
    .certificacoes ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322);}
    .certificacoes ul li{display: flex; justify-content:flex-start; align-items: center; margin: 25px 0px 25px 0px;}
    .certificacoes ul li img{width: 40px; height: 40px;}
    .certificacoes ul li a {padding: 5px; margin: 5px; list-style: none; text-decoration: none; color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}
    .certificacoes ul li hover{text-shadow: 5px 5px 5px rgba(187, 187, 187, 0.712);}
    
  



    .skills{display: flex;flex-direction: column;align-items: center;padding-top: 10px; font-family: 'Chakra Petch', sans-serif;}
    .skills h2{position: absolute;}
    .skills article{display: flex; justify-content:space-between; align-items: center; flex-wrap: wrap; margin: 5px; padding: 5px;}
    .skills article div{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
    .skills section{margin-top: 10px; margin-bottom: 50px;}


      
    .projetos{display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 25px; font-family: 'Chakra Petch', sans-serif; min-height: 100vh;}
    .projetos h2{position: absolute; }
    .projetos main{display: flex;align-items: center;justify-content: center; flex-wrap: wrap; margin: 5px; padding: 5px; width: 100%; margin-top: 20px; margin-bottom: 20px;}


    .projetos-title{width: 100%;text-align: center;font-size: 1.6rem;}
    .projetos-skills{display: flex; align-items: center; flex-wrap: wrap;}
    .projetos-skillls-container-extra { display: flex;}
    .projetos-skill{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}



    .projeto{ width: 100%; border-radius: 10px; overflow: hidden; margin: 5px; background-color:#222223; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322)}
    .projeto-espelho-img{width: 100%; height: 200px;  background-position: center; background-size: cover; background-repeat: no-repeat; }
    .projeto-img{width: 100%; max-height: 400px;}
    .titulo-projeto{width: 100%;text-align: center;font-size: 1.6rem; color: white; margin-top: 10px;}
    .titulo-tecnologia-projeto{ text-align: justify; margin: 8px;padding: 5px;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .tecnologias-projeto{margin: 5px; color: white; display: flex;width: 95%; flex-wrap: wrap;}
    .tecnologias-projeto span{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}
    .titulo-descricao-projeto{margin:8px;padding-left: 5px;text-align: justify;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .descricao-projeto{color: white;text-align: justify; text-indent: 10px; margin: 1px 15px 20px 15px}
    .link-projeto-area{margin: 20px;}
    .link-projeto{margin: 10px; color: white; font-size: 1rem;text-decoration: underline; font-style: italic;}


    .exp-profissional{display: flex;flex-direction: column;align-items: center;padding-top: 10px; font-family: 'Chakra Petch', sans-serif; margin-bottom: 1px;}
    .exp-profissional ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 10px; transition: 0.5s;}
    .exp-profissional ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322);}
    .exp-profissional ul li{ list-style: none; text-decoration: none; color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);margin-top: 10px;}
    .exp-profissional ul li h3{margin: 3px; font-size: 1rem;}
    .exp-profissional ul li p{display: block; margin: 15px 5px 15px 5px ; text-indent: 15px;  color: #aaaab6;font-family: 'Roboto', sans-serif;}
    .exp-profissional ul li hr{ border: none; width: 100%; height: 2px; text-align: left; margin: 0 auto 0 0;background-color: #4f9fbe ;}
    
    
    
    .icone-anime{ width: 64px; height: 64px; background-color: transparent;}
    .rodape-seccao {overflow: hidden;display: none; justify-content: center; align-items: center; margin: 5px;}



    .rodape-page{width: 100%; min-height: 250px; background-image: linear-gradient(to bottom,#1d1d1eb6, #443c6891, #5da2db); display: flex; justify-content: center; align-items:flex-end; flex-direction: column;font-family: 'Chakra Petch', sans-serif;}
    .rodape-page div{ display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; min-height: 100%;}
    .rodape-page div p{color: white; margin: 5px;}
    .rodape-page div p a{color: white;}


    .dev{width: 100%;margin-top: 200px; background-image:linear-gradient(to right, #7163b3, #5da2db);}
    .dev p{font-size: 0.7rem; text-align: right; padding-right: 10px; }
    .dev p a{text-decoration: underline }

    .splide__slide img {width: 40px; height: 40px;}

    .fig1{width: 55px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .fig1 figcaption{color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712); text-align: center;}

    



}

@media (min-width: 769px){


    .menu{position: fixed; display: none;top: 1%;right: 2%;border-radius: 50%; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);;z-index: 100; text-align: right;}
    .menu div{margin: 5px; text-align: center;transform: rotate(-0.5turn); transition: 1s; width:40px; height: 40px; display: flex; justify-content: center;align-items: center;}
    .menu div  i{font-size: 1.8rem; color: white;}
    
    .menu div img{width: 40px; height: 40px;}
    .menu div:hover{transform: rotate(0.5turn); transition: 1s;}
    .menu div:active{transform: scale(80%); transition: 0.2s;}

   



    .elementos-menu{position: fixed; display: none;top: 10%;right: 0%;border-radius: 5px; z-index: 100; text-align: right; transition: 1.5s; overflow: hidden; animation: translacaoMenu 1s ;}
   
    .elementos-menu ul li{list-style: none; margin: 15px 5px 5px 5px; padding: 5px; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);; border-radius: 5px; transition: 2s;}
    .elementos-menu ul li a{ color: rgb(255, 255, 255); font-weight: bold; font-size: 95%;transition: 0.5s; display: block; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.774);font-family: 'Chakra Petch'}
    .elementos-menu ul li a:hover{font-size: 100%; color: #60c1e7;}

    .cover{width: 100%; height: 100vh; color: white; text-align: center; display: none; align-items: center; justify-content: center; flex-direction: column; overflow: hidden; background-image: linear-gradient(to top,#1d1d1eb6, #443c6891, #5da2db);}

    .cover h1{font-size: 3.5rem; color: #6db0e7; font-family: 'Chakra Petch', sans-serif; text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}
    .cover h2{font-size: 1.8rem; font-family: 'Roboto', sans-serif;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);}
    .cover h3{font-size: 1.6rem; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);}
    .cover a{color: white; font-size: 1.3rem;} 
    .cover a:hover{color: #60c1e7;}
    

    .titulo-secao{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px;}
    .titulo-secao h2{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #f8f8f8; text-shadow: 5px 5px 5px rgba(37, 53, 95, 0.712);}
    .linha01{ border: none; width: 100%; height: 5px; text-align: left; margin: 0 auto 0 0;animation: modifyColor 5s infinite; transition: 0.5s;background-color: #443C68 ;}
    .linha02{ border: none; width: 100%; height: 10px; background-image:linear-gradient(to right, #7163b3, #5da2db); text-align: left; margin: 0 auto 0 0;}
    
    .titulo-secao-sobre-mim{width: 100%; display: flex; flex-direction: column;align-items: center;justify-content: center; margin-bottom: 10px; margin-top: 25px;}
    .titulo-secao-sobre-mim h3{font-family: 'Chakra Petch', sans-serif; padding: 20px; color: #ffffff; background-color: transparent; font-size: 1.5rem;  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}

    .sobre-mim{display: flex;flex-direction: column;align-items: center;}
    .sobre-mim h2{position: absolute; background-color:#1D1D1E ;}
    .sobre-mim div{display: flex; flex-direction: row; align-items:flex-start; justify-content: center;}
    .sobre-mim-img-perfil{border-radius: 50%; background-image:linear-gradient(to top, #3a2c79, #5da2db); width: 125px; margin-top: 25px; margin-bottom: 15px;margin-left: 10px;}
    .sobre-mim p{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322);; text-indent: 2rem; width: 60%;}

    .educacao{display: flex;flex-direction: column;align-items: center;padding-top: 100px; font-family: 'Chakra Petch', sans-serif; background-image: linear-gradient(to top,#1d1d1ed2, #5da2db), url('https://celsocestaro.com.br/wp-content/uploads/2020/06/analise-de-dados-a-favor-do-futuro-do-negocio-1580759422.jpg');background-repeat: repeat;background-size: cover;background-attachment: fixed; background-position: center; background-repeat: no-repeat;}
  
    .educacao div{padding-bottom: 60px;}
    .educacao h2{position: absolute;}
    .educacao ul{ transition: 0.2s; border-left: 3px solid white;margin-left: 2px; padding-left: 15px; min-height: 200px;}
    .educacao ul::before {content:''; background-color: #aebac4; width:30px; height: 30px; position: relative; display: block; border-radius: 50%;left: -31px; top: -1px;}
    .educacao ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322); }
    .educacao ul li{margin: 5px; list-style: none; margin-left: 10px; color: white;}
    .educacao h1{margin-top: 1px; color: #ffffff ; margin-bottom: 1px;}
    .educacao h3{margin-top: 1px; color:  #5da2db ; margin-bottom: 1px; font-size: 1rem; margin-left: 2px;}
   /* .educacao h1::before {content:''; background-color: rgb(255, 255, 255); width:30px; height: 30px; position: absolute; display: block; border-radius: 50%;left: 32px;}*/

    


    .certificacoes{display: flex;flex-direction: column;align-items: center;padding-top: 50px; font-family: 'Chakra Petch', sans-serif;}
    .certificacoes h2 {position: absolute; }
    .certificacoes ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 80px; transition: 0.5s;}
    .certificacoes ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322);}
    .certificacoes ul li{display: flex; justify-content:flex-start; align-items: center; margin: 25px 0px 25px 0px;}
    .certificacoes ul li img{width: 40px; height: 40px;}
    .certificacoes ul li a {padding: 5px; margin: 5px; list-style: none; text-decoration: none; color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);}
    .certificacoes ul li:hover{text-shadow: 5px 5px 5px rgba(187, 187, 187, 0.712);}
    
  



    .skills{display: flex;flex-direction: column;align-items: center;padding-top: 10px; font-family: 'Chakra Petch', sans-serif;}
    .skills h2{position: absolute;}
    .skills article{display: flex; justify-content:space-between; align-items: center; flex-wrap: wrap; margin: 5px; padding: 5px;}
    .skills article div{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 30px;}
    .skills section{margin-top: 10px; margin-bottom: 50px;}


      
    .projetos{display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 25px; font-family: 'Chakra Petch', sans-serif; min-height: 100vh;}
    .projetos h2{position: absolute; }
    .projetos main{display: flex;align-items: center;justify-content: center; flex-wrap: wrap; margin: 5px; padding: 5px; width: 100%; margin-top: 20px; margin-bottom: 20px;}


    .projetos-title{width: 100%;text-align: center;font-size: 1.6rem;}
    .projetos-skills{display: flex; align-items: center; flex-wrap: wrap;}
    .projetos-skillls-container-extra { display: flex;}
    .projetos-skill{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}



    .projeto{ width: 100%; border-radius: 10px; overflow: hidden; margin: 5px; background-color:#222223; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322)}
    .projeto-espelho-img{width: 100%; height: 200px;  background-position: center; background-size: cover; background-repeat: no-repeat; }
    .projeto-img{width: 100%; max-height: 400px;}
    .titulo-projeto{width: 100%;text-align: center;font-size: 1.6rem; color: white; margin-top: 10px;}
    .titulo-tecnologia-projeto{ text-align: justify; margin: 8px;padding: 5px;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .tecnologias-projeto{margin: 5px; color: white; display: flex;width: 95%; flex-wrap: wrap;}
    .tecnologias-projeto span{background-image:linear-gradient(to right, #443C68, #5da2db); border-radius: 10px;text-align: center; margin: 4px; padding: 4px;}
    .titulo-descricao-projeto{margin:8px;padding-left: 5px;text-align: justify;display: block; color: white; font-size: 1.1rem; margin: 5px;}
    .descricao-projeto{color: white;text-align: justify; text-indent: 10px; margin: 1px 15px 20px 15px}
    .link-projeto-area{margin: 20px;}
    .link-projeto{margin: 10px; color: white; font-size: 1rem;text-decoration: underline; font-style: italic;}


    .exp-profissional{display: flex;flex-direction: column;align-items: center;padding-top: 10px; font-family: 'Chakra Petch', sans-serif;margin-bottom: 50px;}
    .exp-profissional ul{border-radius: 20px;margin: 20px; padding: 20px; text-align: justify; color: #73737e; background-color:#222223;font-family: 'Roboto', sans-serif;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);margin-top: 10px; transition: 0.5s; width: 75%;}
    .exp-profissional ul:hover{box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.322);}
    .exp-profissional ul li{ list-style: none; text-decoration: none; color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);margin-top: 10px;}
    .exp-profissional ul li h3{margin: 3px; font-size: 1rem;}
    .exp-profissional ul li p{font-family: 'Roboto', sans-serif;display: block; margin: 15px 20px 15px 20px ; text-indent: 25px;  color: #aaaab6}
    .exp-profissional ul li hr{ border: none; width: 100%; height: 2px; text-align: left; margin: 0 auto 0 0;background-color: #4f9fbe ;}
    
    
    
    .icone-anime{ width: 64px; height: 64px; background-color: transparent;}
    .rodape-seccao {overflow: hidden;display: none; justify-content: center; align-items: center; margin: 5px;}



    .rodape-page{width: 100%; min-height: 200px; background-image: linear-gradient(to bottom,#1d1d1eb6, #443c6891, #5da2db); display: flex; justify-content: center; align-items:flex-end; flex-direction: column;font-family: 'Chakra Petch', sans-serif;}
    .rodape-page div{ display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; min-height: 100%;}
    .rodape-page div p{color: white; margin: 5px;}
    .rodape-page div p a{color: white;}


    .dev{width: 100%; margin-top: 150px; background-image:linear-gradient(to right, #7163b3, #5da2db);}
    .dev p{font-size: 0.7rem; text-align: right; padding-right: 10px;}
    .dev p a{text-decoration: underline;}

    .splide__slide img {width: 40px; height: 40px;}

    .fig1{width: 55px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .fig1 figcaption{color: #ffffff;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712); text-align: center;}

    


}