@media(max-width: 768px){
    .capa{
        height: 90vh;
        background-color: #2d383c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 4vh;

        
    }

   
    .abautMe{
        margin-top: 10px;
        padding: 30px;
        background-color: #212529;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;

    }
    .abautMe div{
       background-color: #212529;
        width: 100%;
        padding-bottom: 15px;
        text-align: justify;
        color: #b7babb;
        
    }
  
    .abautMe div img{
        width: 80%;
        text-align: center;
    }

    .projects{
        margin-top: 20px;
        padding: 30px;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .projects-block-1{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .projects-block-2{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .skills{
        width: 100%;
        background-color: rgb(187, 187, 177);
        height: 400px;
    }

    .education{
        width: 100%;
        background-color: rgb(184, 184, 113);
        height: 400px;
    }

    .certificates{
        width: 100%;
        background-color: rgb(88, 134, 187);
        height: 400px;
    }

    .depositions{
        width: 100%;
        background-color: rgb(223, 73, 85);
        height: 400px;
    }

    
}